<table border="1">
  <tr *ngFor="let v of vetor">
    <td>{{v.nomeCurso}}</td>
    <td>{{v.valorCurso}}</td>
    <td><button (click)="selecionarCurso(v)">Selecionar curso</button></td>
  </tr>
</table>
<br><br>
<h2>Cadastrar,alterar ou remover um Curso</h2>
<form (ngSubmit) = "cadastrar()">
    <label for="nomeCurso">Nome do curso: </label>
    <input type="text" name="nomeCurso" [(ngModel)]="curso.nomeCurso">
    <br><br>
    <label for="valorCurso">Valor do curso: </label>
    <input type="text" name="valorCurso" [(ngModel)]="curso.valorCurso">
    <br><br>
</form>
<br>
<button (click)="cadastrar()">Cadastrar</button>
<button (click)="alterar()">Alterar</button>
<button (click)="remover()">Excluir</button>
